<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>How's the weather on your holiday?</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
    <script src="https://kit.fontawesome.com/f544232086.js" crossorigin="anonymous"></script>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css" integrity="sha384-QYIZto+st3yW+o8+5OHfT6S482Zsvz2WfOzpFSXMF9zqeLcFV0/wlZpMtyFcZALm" crossorigin="anonymous"> -->
    <style>
        .fa-bell{
            color: #6A00FF;
        }
    </style>
    <!-- <script>
        window.onload = function () {
          var span = document.createElement('span');
        
          span.className = 'fa';
          span.style.display = 'none';
          document.body.insertBefore(span, document.body.firstChild);
          
          alert(window.getComputedStyle(span, null).getPropertyValue('font-family'));
            
          document.body.removeChild(span);
        };
        </script> -->
        <!-- <style> 
            body {
              background-image: url({{url_for('static', filename='builtin/pic.jpg')}});
            }
            </style> -->
</head>

<body style= "background-image: url({{url_for('static', filename='builtin/coulds2.jpg')}})">
    <section style= "background-image: url({{url_for('static', filename='builtin/pic2.jpg')}})" class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 style="color: #000;"class="title">
                    Perfect weather for a holiday?
                </h1>
            </div>
            <div style="color:rgb(2, 2, 68)" class="container">
               <a href="{{ url_for('chartjs') }}"><button class="button is-centered is-link is-large is-rounded is-pulled-right ">Weather Diagram</button></a>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    <form method="POST">
                        <div class="field has-addons">
                            <div class="control is-expanded">
                                <input class="input" name="city" type="text" placeholder="City Name">
                            </div>
                            <div class="control">
                                <button class="button is-info">
                                    Add City
                                </button>
                            </div>
                        </div>
                        {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                                {% set message_class = 'is-success' %}

                                {% if category == 'error' %}
                                    {% set message_class = 'is-danger' %}
                                {% endif %}
                                <div class="notification {{ message_class }}">{{ message }}</div>
                            {% endfor %}
                          {% endif %}
                          {% endwith %}
                    </form>
                </div>
            </div>
        </div>
    </section>
    
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    {% for weather in weather_data %}
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-50x50">
                                    <img src="http://openweathermap.org/img/w/{{ weather.icon }}.png" alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <span class="title">{{ weather.city }}</span>
                                        <br>
                                        <span class="subtitle">{{ weather.temperature }}° C</span>
                                        <br> {{ weather.description }}
                                        
                                    </p>
                                </div>
                                
                            </div>
                            <div class="media-right">
                                {% if weather.temperature >= 20 %}
                                    <a href="#"><i class="fa-solid fa-bell fa-3x"></i></a>
                                {% endif %}
                               <a href="{{ url_for('delete_city', name=weather.city) }}">
                                    <button class="delete"></button>
                               </a>
                               
                            </div>
                            
                        </article>
                        
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <footer style= "background-image: url({{url_for('static', filename='builtin/clouds.jpg')}})" class="footer">
    </footer>
</body>

</html>